nav {
		ul {
			padding: 20px;
			list-style-type: disc;
			margin: 0;
			}
		  
		  li {text-decoration: none;}
		  
		  a {
		     display: inline;
			 padding: 6px 12px;
			 text-decoration: none;
			}
	}